.pokemon-container{
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(2,1fr);
    padding: 3rem;
    background-color: rgb(251, 215, 67);
    justify-items: center;

}
@media (max-width: 900px){
    .pokemon-container{
        grid-template-columns: 1fr;
    }
}